ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

li {
    display: inline;
    font-family:  "Vertrina", "Skolar Latin Regular"; 
    font-size: 20px;

}

li a {
	color: #008A8A;
}

a:hover
{ 
    color: #00CC99;
    text-decoration: none;
}